.NavigationItem {
  padding: 20px;
}
.NavigationItem a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.NavigationItem a:hover {
  color: #ed491d;
}
